<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p><%= @title %></q>
    <form action="/submit" method="post">
      <label>keyword</label>
      <input type="text" name="keyword"/>
      <label>location</label>
      <input type="text" name="location"/>
      <label>radius</label>
      <input type="text" name="radius"/>
      <label>posted date</label>
      <input type="radio" name="ONE DAY"/>
    </form>
  </body
</html>
