<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>Query</q>
    <form action="/home" method="post">
      <p>
        <label for>keyword</label>
        <input type="text" name="keyword"/>
      </p>
      <p>
        <label>location</label>
        <input type="text" name="location"/>
      </p>
      <p>
        <label>radius</label>
        <input type="text" name="radius"/>
      </p>
      <p>
        <label for="ONE DAY">one day</label>
        <input type="radio" name="ONE DAY" value="ONE DAY"/>
        <label for="TWO DAY">two day</label>
        <input type="radio" name="TWO DAY" value="TWO DAY"/>
        <label for="THREE DAY">three day</label>
        <input type="radio" name="THREE DAY" value="THREE DAY"/>
      </p>
      <button type="submit">
        send
      </button>
    </form>
  </body
</html>
