<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
</head>
<body>
  <title><%= @title %></title>
  <p>This page was rendered dynamically.</p>
  <form action="submit" method="post">
    <input type="text" name="keyword"/>
  </form>
</body>
</html>
